*{
    margin: 0;
    padding: 0;
}
.container{
  background-color: rgb(158, 158, 158);
    border: solid #353535 10px;
    border-radius: 20px;
    padding-bottom: 20px;
}
body{
    display: flex;

}
.part{
    text-align: center;
    background-color: aqua;
    
}
.forms{
    text-align: center;
}
