.calculator{
    border: 1px solck #ccc;
    border-radius: 5px;
    position: absolute;
    width: 400px;
    max-width: 600px;
}
.caculator-screen{
    width: 100%;
    height: 80px;
    border: none;
    background-color: blue;
    color: brown;
    text-align: center;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 40px;
}
button{
    color: aquamarine;
    background-color: bisque;
    width: 90px;
    padding: 0;
}
/* .my4{
    width: 420px;
} */